h3{
	text-align: center;
	margin-top: 20px;
	color: #ecf0f1;
}

#all{
	margin: auto;
	margin-top: 50px;
	width: 300px;
	text-align: center;
	background: #166da0;
	border-radius: 10px;
}


.input {
	border: 0px;
	border-radius: 5px;
	margin: 5px;
}

#butt
{
  cursor: pointer;
  margin: 6px;
  margin-top: 8px;
  border: 2px black;
  background: #34bb7d;
  border-radius: 25px;
}

#select{
	margin: 5px;
	border: 0px;
	border-radius: 5px;
}

#butt:hover
{	
	background-color: #bf3535;
}

@font-face {
	font-family: nesatho;
	src: url("czcionka/Nesatho.ttf");
}

label{
	color: None;
}

body
{
	margin: 0px;
	background: #34495e;
	font-family: nesatho;
}

#plec p {
	margin-bottom: 5px;
}
